$primary-black: #181731;
$primary-red: #E62A27;
$font-family: "Montserrat", sans-serif;

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 32px 4px 32px;
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);

    img {
        width: 60px;
        height: auto;
        margin-right: 20px;
        margin-left: 20px;
        font-family: $font-family;
    }
    .header-titles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 100px;
        width: 1000px;
        height: auto;

        a {
            color: $primary-black;
            font-size: 18px;
            font-weight: 400;
            text-decoration: none;

            &:hover {
                color: $primary-red;
            }

            &:first-of-type {
                font-weight: 500;
            }
        }
    }
    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        i {
            color: $primary-black;
            font-weight: 600;
            font-size: 24px;
            margin-right: 16px;
        }
        p {
            color: $primary-black;
            font-size: 16px;
            font-weight: 400;
        }

        .profile-pp {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $primary-red;
            position: relative;
            margin-left: 20px;

            p {
                position: absolute;
                top: -15px;
                left: 15px;
                color: white;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}