$primary-black: #181731;

.main-top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 4vh;
  padding: 6px;
  background-color: $primary-black;

  .weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 230px;
    color: white;
    padding: 8px;
    margin-left: 30px;
    border-right: 1px solid white;

    p {
      font-size: 14px;
    }
  }
  .score {
    @extend .weather;
    width: 350px;
  }
}

// @media (max-width: 480px) {
//   .main-top-header {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     width: 480px !important;
//     height: 4vh !important;
//     padding: 0;
//     background-color: $primary-black;

//     .weather {
//         flex-direction: row;
//         width: 40%;
//         height: 100%;
//         padding: 3px;
//         // justify-content: flex-start;
//         p {
//             font-size: 12px;
//         }
//     }
//     .score {
//         flex-direction: row;
//         width: 60%;
//         height: 100%;
//         padding: 3px;
//     }
//   }
// }


