$primary-black: #181731;

.main-news-source {
  margin: 80px 0;
  width: 100%;
  height: "fit-content";

  .source-title {
    font-size: 20px;
    font-weight: 500;
    color: $primary-black;
  }
  li {
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    color: #333;
  }
}
