.main-advertisement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;

  .advertisement-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .advertisement-text {
    position: absolute;
    top: 60px;
    right: 170px;
    color: white;
    font-size: 40px;
    // font-family: 'Poppins', sans-serif;
    font-family: 'Abril Fatface', cursive;
  }
}
