.main-follow-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181731;

    h5 {
        font-size: 12px;
        font-weight: 200;
        color: white;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .social-button-container {
        margin: 8px 0;
        p {
            font-size: 10px;
            color: white;
            font-weight: 400;
        }
        .social-buttons {
            margin: 4px 0;
        }
    }
}