.main {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin: 16px;
    border: 1px solid white;
    padding: 2px;

    h5 {
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
    .buttons {
        display: flex;
        flex-direction: row;
    }
    .social-button-container {
        margin: 8px 0;
        p {
            font-size: 12px;
            color: white;
            font-weight: 400;
        }
        .social-buttons {
            margin: 4px 0;
        }
    }
}