$primary-white: #f2f5f8;
$primary-black: #181731;
$secondary-black: rgb(24, 23, 49, 0.6);
$primary-red: #e62a27;
$font-family: "Montserrat", sans-serif;

.main-news-card-img {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 550px;
  margin: 20px;
  padding: 10px 20px;
  background-color: $primary-white;
  border-radius: 12px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);

  .card-top-header {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    .topic {
      color: rgb(24, 23, 49, 0.4);
      font-size: 14px;
    }
    .set-time {
      @extend .topic;
    }
  }

  h5 {
    font-size: 24px;
    color: $primary-black;
    opacity: 0.9;
    font-weight: bold;
    margin: 20px 20px 0 20px;
    width: 90%;
    height: 58px;
    overflow: hidden;
    position: relative;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 280px;
    margin: 10px 20px 0 20px;
    cursor: pointer;

    .content-text {
      width: 100%;
      height: 50%;
      color: rgba(0, 0, 0, 0.911);
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: linear-gradient(transparent, $primary-white);
        pointer-events: none;
      }
    }
    .content-img {
      width: 100%;
      height: 50%;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 8px;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }
  }
  .go-to-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    margin: 8px 20px 10px 20px;

    p {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.715);
      font-weight: 300;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $primary-red;
        font-weight: 400;
      }
    }
  }
  .card-icons {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    .icon-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: auto;

      p {
        color: $secondary-black;
        margin-left: 8px;
        font-size: 16px;
      }
    }
  }
  // .comment-card {
  //   display: flex;
  //   flex-direction: row;
  //   width: 100%;
  //   height: fit-content;
  // }
}
