.portal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .portal {
    background: white;
    width: 1200px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    padding: 40px;

    h5 {
        color: #181731;
        font-size: 20px;
        font-weight: 600;
    }

    .text-inputs {
        display: flex;
        flex-direction: column;

        .text-input {
            width: 400px;
            height: auto;
            border-radius: 8px;
            border: 1px solid rgb(64, 64, 64);
            padding: 8px 16px;
            margin: 8px 0;
        }
    }

    .select-inputs {
        @extend .text-inputs;
        flex-direction: row;

        .select-input {
            @extend .text-input;
            width: 120px;
            margin-right: 10px;
        }
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }

    .add-news-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
